body {
  margin: 0;
}

.container {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}

.logo, .myName {
  position: relative;
}

.logo {
  margin-top: 1em;
}

.name, .work {
  font-weight: unset;
}

.name {
  font-size: 3em;
  margin-bottom: 0;
}

.status {
  font-size: 1.5em;
  margin: 0;
}

.imgLogo {
  width: 100%;
  padding-top: 10px;
}

.myName {
  text-align: right;
  text-transform: uppercase;
  color: darkslategrey;
}

.topBlock {
  border-bottom: solid steelblue 8px;
  margin-bottom: 1.3em;
}

.linkName {
  text-decoration: none;
  color: #2d3c49;
  text-transform: uppercase;
  font-size: 2.5em;
}

.meImg, .backImg {
  height: 100%;
}

.listWorks {
  padding: 0px;
  letter-spacing: -10px;
  margin: 0;
}

.project, .center {
  text-align: center;
  display: inline-block;
  letter-spacing: 0;
}

.work {
  color: #7d97ad;
  font-size: 1.5em;
  margin-bottom: 0;
  margin-top: 10px;
  padding-left: 0.15em;
  padding-bottom: 0.1em;
}

.sentence {
  margin-top: -10px;
  margin-bottom: -20px;
  text-align: right;
  font-size: 1.6em;
  font-style: italic;
  color: #627777;
}
