.container {
  font-family: 'Roboto';
}

.logo, .myName {
  position: relative;
}

.logo {
  margin-top: 1em;
}

.name, .work {
  font-weight: unset;
}

.name {
  font-size: 3em;
  margin-bottom: 0;
}

.status {
  font-size: 1.5em;
  margin: 0;
}

.imgLogo {
  width: 100%;
  padding-top: 10px;
}

.myName {
  text-align: right;
  text-transform: uppercase;
}

.topBlock {
  border-bottom: solid steelblue 8px;
  margin-bottom: 1.3em;
}

.linkName {
  text-decoration: none;
  color: #2d3c49;
  text-transform: uppercase;
  font-size: 2.5em;
}

.backImg {
  height: 400px;
}

.listWorks {
  -webkit-padding-start: 0px;
  letter-spacing: -10px;
}

.project {
  text-align: center;
  display: inline-block;
  letter-spacing: 0;
}

.work {
  color: #7d97ad;
  font-size: 1.6em;
  margin-bottom: 0;
}
