/*TODO: preparation for use flexible blocks*/
html,
body {
  width: 100%;
  height: 100%;
}

.container,
.top,
.img-block,
.links,
.navSmall {
  display: flex;
  flex-wrap: wrap;
}

.box {
  width: 100%;
}


/*TODO: settings for screen less 350px at width*/
@media screen and (max-width: 349px) {
  .name {
    font-size: 1.4em;
  }

  .status {
    font-size: 1em;
  }

  .picture {
    width: 100%;
    height: 30%;
  }

  .logo {
    width: 20%;
  }

  .title {
    width: 79%;
    padding-top: 0.5em;
  }

  .work {
    margin: 0;
  }

  .me {
    padding-bottom: 3%;
  }

  .project {
    width: 30%;
  }

  .link-name {
    font-size: 1.4em;
  }

  .sentence {
    font-size: 1.3em;
    padding-right: 0.5em;
  }
}


/*TODO: settings for screen more 349px and less 550px at width*/
@media screen and (max-width: 549px) and (min-width: 350px) {
  .name {
    font-size: 2.1em;
  }

  .status {
    font-size: 1.2em;
  }

  .picture {
    width: 100%;
    height: 30%;
  }

  .logo {
    width: 20%;
  }

  .title {
    width: 79%;
  }

  .me {
    padding-bottom: 3%;
  }

  .work {
    margin: 0;
  }

  .project {
    width: 30%;
  }

  .link-name {
    font-size: 1.8em;
  }

  .sentence {
    padding-right: 0.5em;
    font-size: 1.8em;
  }
}


/*TODO: settings for screen more 549px at width*/
@media screen and (min-width: 550px) {
  .logo {
    width: 10%;
  }

  .title {
    width: 89%;
  }

  .me {
    width: 40%;
    padding-right: 3.5%;
  }

  .picture {
    width: 56.5%;
  }

  .project {
    width: 30%;
  }

  .work {
    width: 23%;
  }

  .sentence {
    width: 75%;
  }
}


/*TODO: settings for screen more 548px and less 769px at width*/
@media screen and (max-width: 768px) and (min-width: 549px) {
  .logo {
    width: 15%;
  }

  .title {
    width: 84%;
  }

  .work {
    width: 100%;
    margin: 1em, 0, -0.15em;
  }

  .sentence {
    width: 100%;
    text-align: left;
    padding: 0, 0, 1em, 0.15em;
    margin: 0;
  }
}


/*TODO: settings for fixing the layout on 950px at width*/
@media screen and (min-width: 950px) {
  .container {
    width: 950px;
    margin: auto;
  }
}
