html, body {
  width: 100%;
  height: 100%;
/*  display: flex;*/
}

.container, .topBlock, .bottomLinks, .navSmall {
  display: flex;
  flex-wrap: wrap;
}

.box {
  width: 100%;
}

@media screen and (max-width: 412px) {
}

@media screen and (max-width: 768px) {
}

@media screen {
  .logo {
    width: 10%;
  }
  .myName {
    width: 89%;
  }
  .project {
    width: 30%;
  }
  .fild {
    width: 5%;
  }
}

@media screen and (min-width: 1000px) {
  .container {
    width: 1000px;
    margin-right: auto;
    margin-left: auto;
  }
}
